@charset "utf-8"; 

/* hooms-N54 [oClqA9Wim2] */
.hooms-N54 { position: absolute; width: 100%; }
.hooms-N54.header-top-active { position: fixed; top: 0; left: 0; transition: 0.3s; background-color: var(--white); z-index: 200; }
.hooms-N54.header-top-active .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54.header-top-active .header-gnblink { color: var(--text-color1); }
.hooms-N54.header-top-active .header-gnblink.on::after { background-color: var(--black); }
.hooms-N54.header-top-active .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54.header-top-active .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54.header-top-active .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N54.header-search-active .header-inner { background-color: var(--white); }
.hooms-N54.header-search-active .header-logo { background-image: url("../../resources/images/img_logo_black.png"); }
.hooms-N54.header-search-active .header-center { display: none; }
.hooms-N54.header-search-active .btn-profile { display: none; }
.hooms-N54.header-search-active .btn-search { display: none; }
.hooms-N54.header-search-active .btn-menu { display: none; }
.hooms-N54.header-search-active .btn-close { display: block; background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N54.header-search-active .header-search-form { display: flex; padding: 0 2.4rem; }
.hooms-N54 .header-inner { position: relative; width: 100%; height: 10rem; padding: 0 14.2rem; transition: 0.3s; z-index: 200; }
.hooms-N54 .header-container { display: flex; align-items: center; justify-content: space-between; height: 100%; }
.hooms-N54 .header-title { margin-bottom: 0; }
.hooms-N54 .header-logo { width: 11rem; height: 11rem; background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); background-repeat: no-repeat; background-size: contain; background-position: center; }
.hooms-N54 .header-gnblist { display: flex; justify-content: center; align-items: center; }
.hooms-N54 .header-gnbitem { position: relative; display: flex; align-items: center; height: 10rem; }
.hooms-N54 .header-gnblink { position: relative; padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; color: var(--text-color5); white-space: nowrap; }
.hooms-N54 .header-gnblink { position: relative; }
.hooms-N54 .header-gnblink.on::after { content: ''; display: inline-block; position: absolute; bottom: -1rem; left: 50%; transform: translateX(-50%); width: 0.8rem; height: 0.8rem; background-color: var(--white); border-radius: 100%; }
.hooms-N54 .header-sublist { position: absolute; top: 100%; left: 50%; transform: translateX(-50%); transition: all 0.2s; visibility: hidden; opacity: 0; width: 20rem; padding: 2.4rem 0; overflow: hidden; border: 2px solid var(--line-color4); background-color: var(--white); }
.hooms-N54 .header-gnbitem:hover .header-sublist { opacity: 1; visibility: visible; }
.hooms-N54 .header-subitem { width: 20rem; overflow: hidden; }
.hooms-N54 .header-sublink { width: 100%; font-size: var(--fs-p2); font-weight: 500; padding: 0 3.2rem; }
.hooms-N54 .header-subitem+.header-subitem .header-sublink { padding-top: 2.4rem; }
.hooms-N54 .header-sublink:hover { font-weight: 700; }
.hooms-N54 .header-right { display: flex; align-items: center; }
.hooms-N54 .header-utils { display: flex; align-items: center; }
.hooms-N54 .header-utils .header-utils-btn { width: 3.2rem; height: 3.2rem; border: transparent; background-color: transparent; background-position: center; background-size: cover; }
.hooms-N54 .header-utils .header-utils-btn+.header-utils-btn { margin-left: 2.4rem; }
.hooms-N54 .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54 .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54 .btn-menu { background-image: url("../../resources/icons/ico_menu_white.svg"); }
.hooms-N54 .btn-close { background-image: url("../../resources/icons/ico_close_white.svg"); display: none; }
.hooms-N54 .header-search-form { display: none; position: absolute; top: 100%; left: 0; height: 16rem; width: 100%; justify-content: center; align-items: center; background-color: var(--white); }
.hooms-N54 .header-search-form .inputset { width: 53.6rem; }
.hooms-N54 .header-search-form .icon-search { position: absolute; top: 0; right: 0; width: 3.2rem; height: 3.2rem; }
.hooms-N54 .header-dim { display: none; position: fixed; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); z-index: 10; }
.hooms-N54 .header-search-form .icon-search::after { content: ''; display: inline-block; width: 3.2rem; height: 3.2rem; background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
.hooms-N54 .header-search-form .inputset-input { background-color: transparent; }
.hooms-N54 .header-search-form .inputset-input:focus { box-shadow: none; }
.hooms-N54 .header-search-form .inputset-input::placeholder { color: #d2d2d2; }
.hooms-N54 .header-fullmenu-dark { position: fixed; z-index: 999; padding: 0 4rem; transition: 0.3s; opacity: 0; visibility: hidden; overflow: hidden; background-color: #252525; background-image: url("../../resources/images/img_fullmenu_dark1.png"); background-repeat: no-repeat; background-position: right bottom; background-size: cover; font-family: var(--ff-ko2); background-repeat: no-repeat; }
.hooms-N54 .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54 .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2.png"); }
.hooms-N54 .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3.png"); }
.hooms-N54 .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4.png"); }
.hooms-N54 .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5.png"); }
.hooms-N54 .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6.png"); }
.hooms-N54 .header-fullmenu-dark.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.hooms-N54 .header-fullmenu-dark.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.hooms-N54 .header-fullmenu-dark.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.hooms-N54 .header-fullmenu-dark.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.hooms-N54 .header-fullmenu-dark.fullmenu-active { width: 100%; height: 100%; opacity: 1; visibility: visible; }
.hooms-N54 .header-fullmenu-dark .fullmenu-wrapper { display: flex; justify-content: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; padding: 0 10rem; text-align: center; }
.hooms-N54 .header-fullmenu-dark .fullmenu-head { display: flex; justify-content: space-between; align-items: center; height: 10rem; padding: 0 10rem; }
.hooms-N54 .header-fullmenu-dark .fullmenu-title { margin-bottom: 0; }
.hooms-N54 .header-fullmenu-dark .fullmenu-logo { width: 11rem; height: 4rem; background-image: url("../../resources/images/img_logo_white.png"); background-size: cover; background-position: center; }
.hooms-N54 .header-fullmenu-dark .fullmenu-close { width: 3.2rem; height: 3.2rem; border: transparent; background-color: transparent; background-position: center; background-size: cover; background-image: url("../../resources/icons/ico_close_white.svg"); }
.hooms-N54 .header-fullmenu-dark .fullmenu-gnbitem { position: relative; display: flex; width: 100%; width: 21rem; }
.hooms-N54 .header-fullmenu-dark .fullmenu-gnbitem+.fullmenu-gnbitem { padding-top: 4rem; }
.hooms-N54 .header-fullmenu-dark .fullmenu-gnblink { width: 100%; font-size: 4rem; line-height: 5.3rem; color: #979797; }
.hooms-N54 .header-fullmenu-dark .fullmenu-sublist { display: none; position: absolute; left: 100%; }
.hooms-N54 .header-fullmenu-dark .fullmenu-gnbitem.fullmenu-item-active .fullmenu-gnblink span { position: relative; color: var(--white); }
.hooms-N54 .header-fullmenu-dark .fullmenu-gnbitem.fullmenu-item-active .fullmenu-gnblink span::after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 0.1rem; background-color: var(--white); }
.hooms-N54 .header-fullmenu-dark .fullmenu-gnbitem.fullmenu-item-active .fullmenu-sublist { display: block; }
.hooms-N54 .header-fullmenu-dark .fullmenu-subitem { text-align: left; }
.hooms-N54 .header-fullmenu-dark .fullmenu-subitem+.fullmenu-subitem .fullmenu-sublink { padding-top: 2rem; }
.hooms-N54 .header-fullmenu-dark .fullmenu-sublink { padding-left: 10rem; font-size: var(--fs-h5); font-weight: 400; white-space: nowrap; color: #979797; }
.hooms-N54 .header-fullmenu-dark .fullmenu-sublink:hover { color: var(--white); }
@media (max-width: 1200px) {
 .hooms-N54 .header-inner { height: 10rem; padding: 0 4rem; }
 .hooms-N54 .header-gnblink { padding: 0 2rem; }
 .hooms-N54 .header-utils .header-utils-btn+.header-utils-btn { margin-left: 0.4rem; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-head { padding: 0; }
}
@media (max-width: 992px) {
 .hooms-N54 .header-inner { height: 6rem; padding: 0 2.4rem; }
 .hooms-N54 .header-center { display: none; }
 .hooms-N54 .header-logo { width: 7.3rem; height: 2rem; }
 .hooms-N54 .header-utils .header-utils-btn { width: 2.8rem; height: 2.8rem; }
 .hooms-N54 .header-fullmenu-dark { padding: 0 2.4rem; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-head { height: 6rem; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-logo { width: 7.3rem; height: 2.7rem; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-close { width: 2.8rem; height: 2.8rem; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-gnbitem { display: flex; flex-direction: column; align-items: center; text-align: center; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-gnbitem+.fullmenu-gnbitem { padding-top: 2rem; display: flex; flex-direction: column; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-gnblink { font-size: 1.8rem; line-height: var(--lh-p3); }
 .hooms-N54 .header-fullmenu-dark .fullmenu-sublist { position: static; width: 100%; margin: 1.2rem 0 2rem 0; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-sublink { padding-left: 0; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-subitem { text-align: center; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-subitem+.fullmenu-subitem .fullmenu-sublink { padding-top: 0.8rem; }
 .hooms-N54 .header-fullmenu-dark .fullmenu-gnbitem.fullmenu-item-active .fullmenu-gnblink span::after { width: calc(100% + 1rem); }
}
@media (max-width: 768px) {
 .hooms-N54 .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54 .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54 .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2_mobile.png"); }
 .hooms-N54 .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3_mobile.png"); }
 .hooms-N54 .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4_mobile.png"); }
 .hooms-N54 .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5_mobile.png"); }
 .hooms-N54 .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6_mobile.png"); }
}

/* hooms-N54 [odLQa88Okr] : 편집됨 */
.hooms-N54[data-bid=odLQa88Okr].header-top-active .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54[data-bid=odLQa88Okr].header-top-active .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54[data-bid=odLQa88Okr].header-top-active .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54[data-bid=odLQa88Okr].header-top-active .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N54[data-bid=odLQa88Okr].header-search-active .header-logo { background-image: url("../../resources/images/img_logo_black.png"); }
.hooms-N54[data-bid=odLQa88Okr].header-search-active .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N54[data-bid=odLQa88Okr] .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-gnblink { padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; color: var(--text-color5); white-space: nowrap; }
.hooms-N54[data-bid=odLQa88Okr] .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54[data-bid=odLQa88Okr] .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54[data-bid=odLQa88Okr] .btn-menu { background-image: url("../../resources/icons/ico_menu_white.svg"); }
.hooms-N54[data-bid=odLQa88Okr] .btn-close { background-image: url("../../resources/icons/ico_close_white.svg"); }
.hooms-N54[data-bid=odLQa88Okr] .header-search-form .icon-search::after { background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2.png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3.png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4.png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5.png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6.png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark .fullmenu-logo { background-image: url("../../resources/images/img_logo_white.png"); }
.hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark .fullmenu-close { background-image: url("../../resources/icons/ico_close_white.svg"); }
@media (max-width: 768px) {
 .hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2_mobile.png"); }
 .hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3_mobile.png"); }
 .hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4_mobile.png"); }
 .hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5_mobile.png"); }
 .hooms-N54[data-bid=odLQa88Okr] .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6_mobile.png"); }
}

/* hooms-N54 [mslQa89V3k] : 편집됨 */
.hooms-N54[data-bid=mslQa89V3k].header-top-active .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54[data-bid=mslQa89V3k].header-top-active .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54[data-bid=mslQa89V3k].header-top-active .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54[data-bid=mslQa89V3k].header-top-active .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N54[data-bid=mslQa89V3k].header-search-active .header-logo { background-image: url("../../resources/images/img_logo_black.png"); }
.hooms-N54[data-bid=mslQa89V3k].header-search-active .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N54[data-bid=mslQa89V3k] .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-gnblink { padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; color: var(--text-color5); white-space: nowrap; }
.hooms-N54[data-bid=mslQa89V3k] .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54[data-bid=mslQa89V3k] .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54[data-bid=mslQa89V3k] .btn-menu { background-image: url("../../resources/icons/ico_menu_white.svg"); }
.hooms-N54[data-bid=mslQa89V3k] .btn-close { background-image: url("../../resources/icons/ico_close_white.svg"); }
.hooms-N54[data-bid=mslQa89V3k] .header-search-form .icon-search::after { background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2.png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3.png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4.png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5.png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6.png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark .fullmenu-logo { background-image: url("../../resources/images/img_logo_white.png"); }
.hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark .fullmenu-close { background-image: url("../../resources/icons/ico_close_white.svg"); }
@media (max-width: 768px) {
 .hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2_mobile.png"); }
 .hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3_mobile.png"); }
 .hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4_mobile.png"); }
 .hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5_mobile.png"); }
 .hooms-N54[data-bid=mslQa89V3k] .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6_mobile.png"); }
}

/* hooms-N54 [JsLqA8aT4M] : 편집됨 */
.hooms-N54[data-bid=JsLqA8aT4M].header-top-active .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54[data-bid=JsLqA8aT4M].header-top-active .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54[data-bid=JsLqA8aT4M].header-top-active .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54[data-bid=JsLqA8aT4M].header-top-active .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N54[data-bid=JsLqA8aT4M].header-search-active .header-logo { background-image: url("../../resources/images/img_logo_black.png"); }
.hooms-N54[data-bid=JsLqA8aT4M].header-search-active .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-gnblink { padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; color: var(--text-color5); white-space: nowrap; }
.hooms-N54[data-bid=JsLqA8aT4M] .btn-profile { background-image: url("../../resources/icons/ico_profile_white.svg"); }
.hooms-N54[data-bid=JsLqA8aT4M] .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54[data-bid=JsLqA8aT4M] .btn-menu { background-image: url("../../resources/icons/ico_menu_white.svg"); }
.hooms-N54[data-bid=JsLqA8aT4M] .btn-close { background-image: url("../../resources/icons/ico_close_white.svg"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-search-form .icon-search::after { background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2.png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3.png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4.png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5.png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6.png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark .fullmenu-logo { background-image: url("../../resources/images/img_logo_white.png"); }
.hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark .fullmenu-close { background-image: url("../../resources/icons/ico_close_white.svg"); }
@media (max-width: 768px) {
 .hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2_mobile.png"); }
 .hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3_mobile.png"); }
 .hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4_mobile.png"); }
 .hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5_mobile.png"); }
 .hooms-N54[data-bid=JsLqA8aT4M] .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6_mobile.png"); }
}

/* hooms-N54 [yiLQA8BBLn] : 편집됨 */
.hooms-N54[data-bid=yiLQA8BBLn].header-top-active .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54[data-bid=yiLQA8BBLn].header-top-active .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54[data-bid=yiLQA8BBLn].header-top-active .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54[data-bid=yiLQA8BBLn].header-top-active .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N54[data-bid=yiLQA8BBLn].header-search-active .header-logo { background-image: url("../../resources/images/img_logo_black.png"); }
.hooms-N54[data-bid=yiLQA8BBLn].header-search-active .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-gnblink { padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; color: var(--text-color5); white-space: nowrap; }
.hooms-N54[data-bid=yiLQA8BBLn] .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N54[data-bid=yiLQA8BBLn] .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N54[data-bid=yiLQA8BBLn] .btn-menu { background-image: url("../../resources/icons/ico_menu_white.svg"); }
.hooms-N54[data-bid=yiLQA8BBLn] .btn-close { background-image: url("../../resources/icons/ico_close_white.svg"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-search-form .icon-search::after { background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1.png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2.png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3.png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4.png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5.png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6.png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark .fullmenu-logo { background-image: url("../../resources/images/img_logo_white.png"); }
.hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark .fullmenu-close { background-image: url("../../resources/icons/ico_close_white.svg"); }
@media (max-width: 768px) {
 .hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_dark1_mobile.png"); }
 .hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_dark2_mobile.png"); }
 .hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_dark3_mobile.png"); }
 .hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_dark4_mobile.png"); }
 .hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_dark5_mobile.png"); }
 .hooms-N54[data-bid=yiLQA8BBLn] .header-fullmenu-dark.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_dark6_mobile.png"); }
}

/* hooms-N55 [eZLQA9vZgY] */
.hooms-N55 { position: relative; top: -100%; width: 100%; background-color: var(--white); transition: 0.5s; z-index: 200; }
.hooms-N55.header-top-active { position: fixed; top: 0; left: 0; z-index: 200; }
.hooms-N55.header-search-active .header-center { display: none; }
.hooms-N55.header-search-active .btn-profile { display: none; }
.hooms-N55.header-search-active .btn-search { display: none; }
.hooms-N55.header-search-active .btn-menu { display: none; }
.hooms-N55.header-search-active .btn-close { display: block; background-image: url("../../resources/icons/ico_close_black.svg"); z-index: 200; }
.hooms-N55.header-search-active .header-search-form { display: flex; padding: 0 2.4rem; }
.hooms-N55 .header-container { position: relative; display: flex; align-items: center; justify-content: space-between; width: 100%; height: 10rem; padding: 0 14.2rem; transition: 0.3s; z-index: 200; }
.hooms-N55 .header-title { margin-bottom: 0; }
.hooms-N55 .header-logo { width: 11rem; height: 11rem; background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); background-repeat: no-repeat; background-size: contain; background-position: center; }
.hooms-N55 .header-gnblist { display: flex; justify-content: center; align-items: center; }
.hooms-N55 .header-gnbitem { position: relative; display: flex; align-items: center; height: 10rem; }
.hooms-N55 .header-gnblink { position: relative; padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; white-space: nowrap; }
.hooms-N55 .header-gnblink { position: relative; }
.hooms-N55 .header-gnblink.on::after { content: ''; display: inline-block; position: absolute; bottom: -1rem; left: 50%; transform: translateX(-50%); width: 0.8rem; height: 0.8rem; background-color: var(--primary); border-radius: 100%; }
.hooms-N55 .header-sublist { position: absolute; top: 100%; left: 50%; transform: translateX(-50%); transition: all 0.2s; visibility: hidden; opacity: 0; width: 20rem; padding: 2.4rem 0; overflow: hidden; border: 2px solid var(--line-color4); background-color: var(--white); }
.hooms-N55 .header-gnbitem:hover .header-sublist { opacity: 1; visibility: visible; }
.hooms-N55 .header-subitem { width: 20rem; overflow: hidden; }
.hooms-N55 .header-sublink { width: 100%; font-size: var(--fs-p2); font-weight: 500; padding: 0 3.2rem; }
.hooms-N55 .header-subitem+.header-subitem .header-sublink { padding-top: 2.4rem; }
.hooms-N55 .header-sublink:hover { font-weight: 700; }
.hooms-N55 .header-right { display: flex; align-items: center; }
.hooms-N55 .header-utils { display: flex; align-items: center; }
.hooms-N55 .header-utils .header-utils-btn { width: 3.2rem; height: 3.2rem; border: transparent; background-color: transparent; background-position: center; background-size: cover; margin-left: 1rem; }
.hooms-N55 .header-utils .header-utils-btn+.header-utils-btn { margin-left: 2.4rem; }
.hooms-N55 .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N55 .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N55 .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N55 .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); display: none; }
.hooms-N55 .header-search-form { display: none; position: fixed; top: 0; left: 0; height: 16rem; width: 100%; justify-content: center; align-items: center; background-color: var(--white); }
.hooms-N55 .header-search-form .inputset { width: 53.6rem; }
.hooms-N55 .header-search-form .icon-search { position: absolute; top: 0; right: 0; width: 3.2rem; height: 3.2rem; }
.hooms-N55 .header-dim { display: none; position: fixed; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
.hooms-N55 .header-fullmenu { position: fixed; z-index: 999; padding: 0 4rem; transition: 0.3s; opacity: 0; visibility: hidden; overflow: hidden; background-color: var(--white); background-image: url("../../resources/images/img_fullmenu_white1.png"); background-repeat: no-repeat; background-position: right bottom; background-size: cover; font-family: var(--ff-ko2); background-repeat: no-repeat; }
.hooms-N55 .header-fullmenu.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_white1.png"); }
.hooms-N55 .header-fullmenu.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_white2.png"); }
.hooms-N55 .header-fullmenu.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_white3.png"); }
.hooms-N55 .header-fullmenu.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_white4.png"); }
.hooms-N55 .header-fullmenu.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_white5.png"); }
.hooms-N55 .header-fullmenu.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_white6.png"); }
.hooms-N55 .header-fullmenu.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.hooms-N55 .header-fullmenu.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.hooms-N55 .header-fullmenu.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.hooms-N55 .header-fullmenu.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.hooms-N55 .header-fullmenu.fullmenu-active { width: 100%; height: 100%; opacity: 1; visibility: visible; }
.hooms-N55 .header-fullmenu .fullmenu-wrapper { display: flex; position: relative; left: 32rem; padding-top: 13.7rem; width: 100%; }
.hooms-N55 .header-fullmenu .fullmenu-head { display: flex; justify-content: space-between; align-items: center; height: 10rem; padding: 0 10rem; }
.hooms-N55 .header-fullmenu .fullmenu-title { margin-bottom: 0; }
.hooms-N55 .header-fullmenu .fullmenu-logo { width: 11rem; height: 4rem; background-image: url("../../resources/images/img_logo_black.png"); background-size: cover; background-position: center; }
.hooms-N55 .header-fullmenu .fullmenu-close { width: 3.2rem; height: 3.2rem; border: transparent; background-color: transparent; background-position: center; background-size: cover; background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55 .header-fullmenu .fullmenu-gnbitem { position: relative; display: flex; width: 100%; width: 21rem; }
.hooms-N55 .header-fullmenu .fullmenu-gnbitem+.fullmenu-gnbitem { padding-top: 4rem; }
.hooms-N55 .header-fullmenu .fullmenu-gnblink { width: 100%; font-size: 4rem; line-height: 5.3rem; }
.hooms-N55 .header-fullmenu .fullmenu-sublist { display: none; position: absolute; left: 100%; }
.hooms-N55 .header-fullmenu .fullmenu-gnbitem.fullmenu-item-active .fullmenu-gnblink { color: var(--secondary); }
.hooms-N55 .header-fullmenu .fullmenu-gnbitem.fullmenu-item-active .fullmenu-gnblink span { position: relative; }
.hooms-N55 .header-fullmenu .fullmenu-gnbitem.fullmenu-item-active .fullmenu-gnblink span::after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 0.1rem; background-color: #d59b45; }
.hooms-N55 .header-fullmenu .fullmenu-gnbitem.fullmenu-item-active .fullmenu-sublist { display: block; }
.hooms-N55 .header-fullmenu .fullmenu-subitem+.fullmenu-subitem .fullmenu-sublink { padding-top: 2rem; }
.hooms-N55 .header-fullmenu .fullmenu-sublink { padding-left: 10rem; font-size: var(--fs-h5); font-weight: 400; white-space: nowrap; }
.hooms-N55 .header-fullmenu .fullmenu-sublink:hover { font-weight: 700; }
.hooms-N55 .header-search-form .icon-search::after { content: ''; display: inline-block; width: 3.2rem; height: 3.2rem; background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
.hooms-N55 .header-search-form .inputset-input { background-color: transparent; }
.hooms-N55 .header-search-form .inputset-input:focus { box-shadow: none; }
.hooms-N55 .header-search-form .inputset-input::placeholder { color: #d2d2d2; }
@media (max-width: 1200px) {
 .hooms-N55 .header-container { height: 10rem; padding: 0 6rem; }
 .hooms-N55 .header-gnblink { padding: 0 2rem; }
 .hooms-N55 .header-utils .header-utils-btn+.header-utils-btn { margin-left: 0.4rem; }
 .hooms-N55 .header-fullmenu .fullmenu-head { padding: 0; }
}
@media (max-width: 992px) {
 .hooms-N55 .header-container { height: 6rem; padding: 0 2.4rem; }
 .hooms-N55 .header-center { display: none; }
 .hooms-N55 .header-logo { width: 7.3rem; height: 2rem; }
 .hooms-N55 .header-utils .header-utils-btn { width: 2.8rem; height: 2.8rem; }
 .hooms-N55 .header-fullmenu { padding: 0 2.4rem; }
 .hooms-N55 .header-fullmenu .fullmenu-wrapper { left: 0; padding-top: 6.2rem; }
 .hooms-N55 .header-fullmenu .fullmenu-head { height: 6rem; }
 .hooms-N55 .header-fullmenu .fullmenu-logo { width: 7.3rem; height: 2.7rem; }
 .hooms-N55 .header-fullmenu .fullmenu-close { width: 2.8rem; height: 2.8rem; }
 .hooms-N55 .header-fullmenu .fullmenu-gnbitem { width: 9.3rem; }
 .hooms-N55 .header-fullmenu .fullmenu-gnbitem+.fullmenu-gnbitem { padding-top: 2rem; }
 .hooms-N55 .header-fullmenu .fullmenu-gnblink { font-size: 1.8rem; line-height: var(--lh-p3); }
 .hooms-N55 .header-fullmenu .fullmenu-sublink { padding-left: 4rem; }
 .hooms-N55 .header-fullmenu .fullmenu-subitem+.fullmenu-subitem .fullmenu-sublink { padding-top: 0.8rem; }
 .hooms-N55 .header-fullmenu .fullmenu-gnbitem.fullmenu-item-active .fullmenu-gnblink span::after { width: calc(100% + 1rem); }
}
@media (max-width: 768px) {
 .hooms-N55 .header-fullmenu { background-image: url("../../resources/images/img_fullmenu_white1_mobile.png"); }
 .hooms-N55 .header-fullmenu.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_white1_mobile.png"); }
 .hooms-N55 .header-fullmenu.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_white2_mobile.png"); }
 .hooms-N55 .header-fullmenu.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_white3_mobile.png"); }
 .hooms-N55 .header-fullmenu.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_white4_mobile.png"); }
 .hooms-N55 .header-fullmenu.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_white5_mobile.png"); }
 .hooms-N55 .header-fullmenu.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_white6_mobile.png"); }
}

/* hooms-N55 [uJLQ6D34F4] : 편집됨 */
.hooms-N55[data-bid=uJLQ6D34F4].header-search-active .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-gnblink { padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; white-space: nowrap; }
.hooms-N55[data-bid=uJLQ6D34F4] .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N55[data-bid=uJLQ6D34F4] .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N55[data-bid=uJLQ6D34F4] .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N55[data-bid=uJLQ6D34F4] .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu { background-image: url("../../resources/images/img_fullmenu_white1.png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_white1.png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_white2.png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_white3.png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_white4.png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_white5.png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_white6.png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu .fullmenu-logo { background-image: url("../../resources/images/img_logo_black.png"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu .fullmenu-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=uJLQ6D34F4] .header-search-form .icon-search::after { background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
@media (max-width: 768px) {
 .hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu { background-image: url("../../resources/images/img_fullmenu_white1_mobile.png"); }
 .hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_white1_mobile.png"); }
 .hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_white2_mobile.png"); }
 .hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_white3_mobile.png"); }
 .hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_white4_mobile.png"); }
 .hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_white5_mobile.png"); }
 .hooms-N55[data-bid=uJLQ6D34F4] .header-fullmenu.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_white6_mobile.png"); }
}

/* hooms-N55 [NylqA8BvLM] : 편집됨 */
.hooms-N55[data-bid=NylqA8BvLM].header-search-active .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-gnblink { padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; white-space: nowrap; }
.hooms-N55[data-bid=NylqA8BvLM] .btn-profile { background-image: url("../../resources/icons/ico_profile_black.svg"); }
.hooms-N55[data-bid=NylqA8BvLM] .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N55[data-bid=NylqA8BvLM] .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N55[data-bid=NylqA8BvLM] .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu { background-image: url("../../resources/images/img_fullmenu_white1.png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_white1.png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_white2.png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_white3.png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_white4.png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_white5.png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_white6.png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu .fullmenu-logo { background-image: url("../../resources/images/img_logo_black.png"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu .fullmenu-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=NylqA8BvLM] .header-search-form .icon-search::after { background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
@media (max-width: 768px) {
 .hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu { background-image: url("../../resources/images/img_fullmenu_white1_mobile.png"); }
 .hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_white1_mobile.png"); }
 .hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_white2_mobile.png"); }
 .hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_white3_mobile.png"); }
 .hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_white4_mobile.png"); }
 .hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_white5_mobile.png"); }
 .hooms-N55[data-bid=NylqA8BvLM] .header-fullmenu.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_white6_mobile.png"); }
}

/* hooms-N55 [uClqa8c34N] : 편집됨 */
.hooms-N55[data-bid=uClqa8c34N].header-search-active .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=uClqa8c34N] .header-logo { background-image: url("../../resources/images/오늘에 메뉴 로고(배경투명화).png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-gnblink { padding: 0 3rem; font-size: var(--fs-p1); font-weight: 500; text-align: center; white-space: nowrap; }
.hooms-N55[data-bid=uClqa8c34N] .btn-profile { background-image: url("../../resources/icons/untitled.svg"); }
.hooms-N55[data-bid=uClqa8c34N] .btn-search { background-image: url("../../resources/icons/box-arrow-right.svg"); }
.hooms-N55[data-bid=uClqa8c34N] .btn-menu { background-image: url("../../resources/icons/ico_menu_black.svg"); }
.hooms-N55[data-bid=uClqa8c34N] .btn-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu { background-image: url("../../resources/images/img_fullmenu_white1.png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_white1.png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_white2.png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_white3.png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_white4.png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_white5.png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_white6.png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu .fullmenu-logo { background-image: url("../../resources/images/img_logo_black.png"); }
.hooms-N55[data-bid=uClqa8c34N] .header-fullmenu .fullmenu-close { background-image: url("../../resources/icons/ico_close_black.svg"); }
.hooms-N55[data-bid=uClqa8c34N] .header-search-form .icon-search::after { background: url("../../resources/icons/box-arrow-right.svg") no-repeat center right/cover; }
@media (max-width: 768px) {
 .hooms-N55[data-bid=uClqa8c34N] .header-fullmenu { background-image: url("../../resources/images/img_fullmenu_white1_mobile.png"); }
 .hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg0 { background-image: url("../../resources/images/img_fullmenu_white1_mobile.png"); }
 .hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg1 { background-image: url("../../resources/images/img_fullmenu_white2_mobile.png"); }
 .hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg2 { background-image: url("../../resources/images/img_fullmenu_white3_mobile.png"); }
 .hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg3 { background-image: url("../../resources/images/img_fullmenu_white4_mobile.png"); }
 .hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg4 { background-image: url("../../resources/images/img_fullmenu_white5_mobile.png"); }
 .hooms-N55[data-bid=uClqa8c34N] .header-fullmenu.header-fullmenu-bg5 { background-image: url("../../resources/images/img_fullmenu_white6_mobile.png"); }
}

/* hooms-N57 [xpLQA9WWJd] */
.hooms-N57 { background-color: #252525; }
.hooms-N57 .footer-container { padding: 2.4rem 13rem; }
.hooms-N57 .footer-top { display: flex; justify-content: space-between; position: relative; margin-bottom: 2.4rem; }
.hooms-N57 .footer-logo { text-align: center; margin-bottom: 0; }
.hooms-N57 .footer-logo a { width: 9.2rem; height: 3.3rem; }
.hooms-N57 .footer-logo img { width: 100%; height: 100%; object-fit: contain; }
.hooms-N57 .footer-menulist { display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: var(--fs-p2); }
.hooms-N57 .footer-menuitem a { padding-right: 1.2rem; color: #fff; }
.hooms-N57 .footer-menuitem+.footer-menuitem a { padding-left: 1.2rem; }
.hooms-N57 .footer-menuitem { position: relative; }
.hooms-N57 .footer-menuitem+.footer-menuitem::after { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 1.4rem; background-color: rgba(255, 255, 255, 0.1); }
.hooms-N57 .footer-snslist { display: flex; align-items: center; }
.hooms-N57 .footer-snsitem+.footer-snsitem { margin-left: 0.8rem; }
.hooms-N57 .footer-snslink { width: 3.6rem; height: 3.6rem; padding: 0.6rem; }
.hooms-N57 .footer-snslink img { width: 100%; height: 100%; object-fit: cover; }
.hooms-N57 .footer-bottom { padding-top: 2.4rem; border-top: 1px solid rgba(255, 255, 255, 0.1); }
.hooms-N57 .footer-txt { display: flex; justify-content: center; color: var(--text-color4); font-size: 1.2rem; line-height: 2.4rem; }
.hooms-N57 .footer-txt+.footer-txt { margin-top: 0.3rem; }
.hooms-N57 .footer-txt p { margin-bottom: 0; }
.hooms-N57 .footer-txt p+p { margin-left: 0.8rem; }
.hooms-N57 .footer-txt p span+span { margin-left: 0.8rem; }
@media (max-width: 992px) {
 .hooms-N57 .footer-container { padding: 4rem 2.4rem; }
 .hooms-N57 .footer-top { margin-bottom: 0; flex-direction: column; align-items: flex-start; }
 .hooms-N57 .footer-logo a { width: 7.2rem; height: 2.7rem; }
 .hooms-N57 .footer-menulist { position: relative; left: 0; transform: translate(0); margin-top: 1.3rem; }
 .hooms-N57 .footer-menuitem a { padding-right: .8rem; }
 .hooms-N57 .footer-menuitem+.footer-menuitem a { padding-left: .8rem; }
 .hooms-N57 .footer-snslist { margin: 1.2rem 0 2.4rem 0; justify-content: center; }
 .hooms-N57 .footer-bottom { text-align: left; }
 .hooms-N57 .footer-txt { flex-direction: column; }
 .hooms-N57 .footer-txt p+p { margin-left: 0; }
}

/* hooms-N32 [eOLqA9CiBF] */
.hooms-N32 .contents-inner { padding: 10rem 2.4rem; }
.hooms-N32 .textset { margin-top: 0; margin-bottom: 4rem; }
.hooms-N32 .contents-group { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 4rem; }
.hooms-N32 .contents-tit { display: flex; align-items: center; font-size: 2.4rem; font-weight: 500; }
.hooms-N32 .contents-cardlist { display: none; border-top: 1px solid var(--primary); }
.hooms-N32 .contents-cardlist.contents-cardlist-active { display: block; }
.hooms-N32 .cardset { width: 100%; padding-top: 4rem; }
.hooms-N32 .cardset-desc { margin-top: 0; color: var(--text-color1); }
.hooms-N32 .cardset-figure { width: 100%; height: 60rem; margin-top: 4rem; }
.hooms-N32 .contents-btn { margin-top: 6rem; text-align: center; }
.hooms-N32 .contents-btn .btnset { min-width: 26rem; }
@media (max-width: 992px) {
 .hooms-N32 .contents-inner { padding: 6rem 2.4rem; }
 .hooms-N32 .textset { margin-bottom: 2.4rem; text-align: left; }
 .hooms-N32 .contents-group { flex-direction: column; align-items: flex-start; margin-bottom: 2.4rem; }
 .hooms-N32 .contents-tit { flex-direction: column; align-items: flex-start; margin-bottom: 0.8rem; }
 .hooms-N32 .cardset { flex-direction: column; padding-top: 2.4rem; }
 .hooms-N32 .cardset-body { width: 100%; }
 .hooms-N32 .cardset .cardset-figure { height: 30rem; margin-top: 2.4rem; }
 .hooms-N32 .contents-btn { margin-top: 4rem; }
}



/* hooms-N58 [gnlQa88oN3] */
.hooms-N58 { border-bottom: 1px solid var(--border-color); }
.hooms-N58 .tabset.tabset-solid { border-bottom: 0; }

/* hooms-N36 [Wvlqa9dSTn] */
.hooms-N36 .contents-inner { padding: 10rem 2.4rem; }
.hooms-N36 .textset { margin-top: 0; margin-bottom: 4rem; }
.hooms-N36 .textset-tit { text-align: center; }
.hooms-N36 .tabset.tabset-brick { margin-bottom: 4rem; }
.hooms-N36 .contents-search { display: flex; justify-content: space-between; align-items: center; margin-bottom: 4rem; }
.hooms-N36 .contents-result { font-size: 1.8rem; font-weight: 500; }
.hooms-N36 .contents-result span { color: var(--secondary); }
.hooms-N36 .contents-form { display: flex; align-items: center; gap: 0.8rem; }
.hooms-N36 .selectset { width: 23rem; }
.hooms-N36 .selectset .btn::after { color: var(--text-color1); }
.hooms-N36 .inputset { width: 40.3rem; }
.hooms-N36 .inputset-input { width: 100%; }
.hooms-N36 .contents-btn { margin-top: 4rem; text-align: center; }
.hooms-N36 .contents-btn .btnset { width: 100%; max-width: 26rem; }
.hooms-N36 .pagiset { margin-top: 6rem; }
.hooms-N36 .modalset { display: flex; flex-direction: column; align-items: center; position: fixed; transition: 0.3s; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; max-width: 62rem; padding: 8rem 2rem; background-color: var(--white); visibility: hidden; opacity: 0; z-index: 999; }
.hooms-N36 .modalset.modalset-active { visibility: visible; opacity: 1; }
.hooms-N36 .modal-header { margin-bottom: 1.2rem; }
.hooms-N36 .modal-title { font-size: var(--fs-h6); font-weight: 700; text-align: center; }
.hooms-N36 .modal-body { max-height: 26rem; overflow-y: auto; }
.hooms-N36 .modal-body p { padding: 0 1.7rem; text-align: center; font-size: var(--fs-p1); line-height: var(--lh-p1); font-weight: 400; }
.hooms-N36 .modal-footer { width: 100%; margin-top: 4rem; text-align: center; }
.hooms-N36 .modal-footer .btnset { width: 100%; max-width: 17.6rem; }
.hooms-N36 .modalset-dim { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(17, 17, 17, 0.5); z-index: 300; }
@media (max-width: 992px) {
 .hooms-N36 .contents-inner { padding: 6rem 2.4rem; }
 .hooms-N36 .textset-tit { text-align: left; }
 .hooms-N36 .textset { margin-bottom: 2.4rem; text-align: left; }
 .hooms-N36 .tabset.tabset-brick { margin-bottom: 2.4rem; }
 .hooms-N36 .contents-search { flex-direction: column; align-items: flex-start; width: 100%; margin-bottom: 2.4rem; }
 .hooms-N36 .contents-result { margin-bottom: 0.8rem; font-size: 1.4rem; }
 .hooms-N36 .contents-form { flex-direction: column; align-items: flex-start; width: 100%; }
 .hooms-N36 .selectset { width: 100%; }
 .hooms-N36 .inputset { width: 100%; }
 .hooms-N36 .contents-btn { margin-top: 2.4rem; }
 .hooms-N36 .contents-btn .btnset { max-width: 20rem; }
 .hooms-N36 .pagiset { margin-top: 4rem; }
 .hooms-N36 .pagiset-link { width: 3.2rem; height: 3.2rem; }
 .hooms-N36 .modalset { width: calc(100% - 4.8rem); padding: 4rem 2rem; }
 .hooms-N36 .modal-footer { width: 100%; margin-top: 2rem; }
 .hooms-N36 .modal-footer .btnset { width: calc(100% / 2 - 0.4rem); height: 3.6rem; }
 .hooms-N36 .modal-footer .btnset+.btnset { margin-left: 0.4rem; }
}
